.bundle
db/*.sqlite3
log/*
tmp/
nbproject/
public/assets/
public/blog
solr/data/
solr/pids/
*.swp
*.swo
.rvmrc
public/system/**
.DS_Store
coverage/**
public/pages/
public/index.html
.idea/**
solr/pids/**
.project
.settings
.elasticbeanstalk/
