Count: <span id="count"></span><br/>
<span id="names_header">Clientes:</span>
<ul id="names">
</ul><br/>
<fieldset>
  <legend>Novo Cliente</legend>
  <form id="new_client_form">
    <label for="name">Nome: </label><input name="name" type="text"/><br/>
    <label for="address">Endereço: </label><input name="address" type="text"/><br/>
    <input type="submit" value="Enviar"/>
  </form>
</fieldset>
<br/>
<fieldset>
  <legend>Novo Telefone</legend>
  <form id="new_phone_form">
    <label for="client">Cliente: </label><select name="client" id="phone_client"></select><br/>
    <label for="type">Tipo: </label>
    <select name="phone_type">
      <option value="mobile">Celular</option>
      <option value="home">Casa</option>
      <option value="work">Trabalho</option>
    </select>
    <br/>
    <label for="content">Número: </label><input name="content" type="text"/><br/>
    <input type="submit" value="Enviar"/>
  </form>
</fieldset>
<script>
  function count() {
    Client.all().count(function(x) {
      $("#count").html(x);
    });
  }
  function names() {
    var namesDiv = $("#names");
    var namesSelect = $("#phone_client");
    namesDiv.html('');
    namesSelect.html('');
    Client.all().forEach(function(client){
      var li = $("<li/>", {
        class: "client",
        "data-client-id": client.id,
        "data-name": client.name(),
        "data-address": client.address(),
        html: client.name() + " (" + client.address() + ") "
      });
      li.one("click", startUpdatingClient);
      var del = $("<a/>", {href: "#", class: "delete", html: "X"});
      del.click(deleteClient);
      del.appendTo(li);
      var phones = $("<ol/>");
      client.phones().forEach(function(phone) {
        var phoneLi = $("<li/>", {html: phone.phone_type() + ": " + phone.content()});
        phoneLi.appendTo(phones);
      });
      phones.appendTo(li);
      li.appendTo(namesDiv);
      var option = $("<option/>", {
        value: client.id,
        html: client.name()
      });
      option.appendTo(namesSelect);
    });
  }
  function createObject(entity, form, dirtyProperties) {
    if(!dirtyProperties) dirtyProperties = {};
    var data = form.serializeHash();
    var obj = new entity();
    obj._data = data;
    obj._dirtyProperties = dirtyProperties;
    persistence.add(obj);
    persistence.flush();
    syncAll(updateAllDom);
    form.find("input[type='text']").each(function(i, el){
      $(el).val("");
    });
  }
  function syncAll(callback) {
    console.log("Starting sync...");
    Client.syncAll(function(){
      Phone.syncAll(function(){
        if(callback) callback();
      });
    });
    if(callback) callback();
  }
  function updateAllDom() {
    names();
    count();
  }
  function deleteClient(e) {
    e.preventDefault();
    Client.load($(this).parents("li").data("client-id"), function(client) {
      client.phones().destroyAll();
      persistence.remove(client);
      persistence.flush();
      syncAll(updateAllDom);
    });
  }
  function startUpdatingClient(e) {
    var form = $("<form/>");
    var nameInput = $("<input/>", {
      name: "name",
      type: "text",
      value: $(this).data("name")
    });
    nameInput.appendTo(form);
    var addressInput = $("<input/>", {
      name: "address",
      type: "text",
      value: $(this).data("address")
    });
    addressInput.appendTo(form);
    var submit = $("<input type=\"submit\" value=\"Salvar\"/>")
    submit.appendTo(form);
    $(this).html(form);
    nameInput.focus();
    form.submit(updateClient);
  }
  function updateClient(e) {
    e.preventDefault();
    var form = $(this);
    Client.load($(this).parents("li").data("client-id"), function(client) {
      client.name(form.find("input[name=name]").val());
      client.address(form.find("input[name=address]").val());
      persistence.add(client);
      persistence.flush();
      syncAll(updateAllDom);
    });
  }
  $(function(){
    $("#count").click(function(){ 
      syncAll(count);
    });
    $("#names_header").click(function(){ 
      syncAll(names);
    });
    syncAll(updateAllDom);

    $("#new_client_form").submit(function(e){
      e.preventDefault();
      createObject(Client, $(this));
    });
    $("#new_phone_form").submit(function(e){
      e.preventDefault();
      createObject(Phone, $(this), {client: true});
    });
  });
</script>
